@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* Main page css  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;    
  }
  body{
    width: 100vw;
    height: 100vh;
    background-image: url(noise-light.png);
    background-color: #071e82;
    background-attachment: fixed;
    color: white;

}
ul li{
    list-style: none;
  }
  #header, .leftHeader, .rightHeader, .logoBox , .anchorLinks ul{
      display: flex;
      gap: 1rem;
      
  }
#header{
    background-color: rgb(0 0 0 / 53%);
    backdrop-filter: blur(10px);
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    padding: 20px;
    align-items: center;
    /* Alternative */
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 999;
    
  
}
#main_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#header-container{
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
}
.logoBox{
    display: flex;
    align-items: center;
}
.logoBox img{
    border-radius: 30px;
}

.logoBox a{
  text-decoration: none;
  color: black;
}

.leftHeader{
    min-width: 66%;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

}

.anchorLinks ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.rightHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.rightHeader .details{
    width: 100px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    border-radius: 9px;
    
}

.firstsec{
  display: flex;
  gap: 15px;

} 

.secondsec{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.hidden{
  display: none !important;
}


.secondsec .material-symbols-outlined{
  background: #fff;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.material-symbols-outlined{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.boxdrop{
  height: 150px;
  width: 200px;
  position: absolute;
  top: 90px;
  background-color: #000000;
  /* border: 1px solid white; */
  padding: 4px 10px;
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  gap: 5px;
}

.boxdrop h4{
  text-align: center;
}

#logout{
  color: #2e0782;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

#logout:hover{
  text-decoration: underline;
  color: #071e82;
}

.details:hover{
  background-color: #2e0782;
  color: white;
}

.first{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: auto;
}

.resume-img img{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.content{
    display: flex;
    gap: 6rem;
    flex-direction: column;
    justify-content: center;
    line-height: 60px;
    width: 700px;
}

.content h1{
    font-size: 50px;
    color: rgb(242, 245, 247);
    font-family: "Rubik", serif;
    font-weight: 500;
}
.btns{
    display: flex;
    gap: 1rem;
    font-size: 20px;
}

.btns a{
  text-decoration: none;
}
.btn{
  width: 200px;
    padding: 13px 50px;
    border: none;
    border-radius: 15px;
    background-color: white;
    color: black;
}

.btn:hover{
  background-color: #2e0782;
  color: white;
}

/* Sections CSS */
section{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding: 24px;
    /* gap: 125px; */
}

section .sec-content{
    text-align: center;
    width: 300px;
}

.sec-content h2{
    position: relative;
    top: 40px;
}

.sec-img img{
    height: 512px;
    width: 672px;
    border-radius: 20px;
}

.seperation{
    border: 2px solid gray;
}


/* Footer CSS */
  footer{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background-color: black;
    color: white;
  }
  .footer{
    display: flex;
    width: 100%;
    gap: 25px;
    justify-content: space-around;
    margin-top:  30px;
  
  }

  .footer-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .grid-cols{
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
  }
  .left-footer{
    display: flex;
    align-items: center;
  }
  .right-footer{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
  }
  .footer-content a{
    text-decoration: none;
    color: white;
  }

  .footersub{
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-between;
    border-top: 2px solid #a3a3a3;
    padding: 10px;
  }

  .policy a{
    text-decoration: none;
    color: grey;
  }

  .policy{
    
    font-size: 0.8rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1px;
    
  }
  .copyright{
    color: grey;
    font-size: 0.8rem;
  }

  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .carousel {
    display: flex;
    gap: 10px;
    animation: slide 20s linear infinite;
  }

  .carousel a {
    display: inline-block;
    flex: 0 0 auto;
  }

  .carousel img {
    width: 300px; /* Adjust the width of the images */
    height: auto;
    border-radius: 10px;
    transition: transform 0.6s ease;
  }

  .carousel img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* Optional: Pause animation on hover */
  .carousel-container:hover .carousel {
    animation-play-state: paused;
  }
  .FAQ{
    width: 80%;
    height: auto;
    font-size: 1.1rem;
    gap: 10px;
  
    
    text-align: auto;
    

  }
  
  summary{
    color: whitesmoke
  }
  

/* chat bot css */
/* Toggle up and down the chatbot */
#chat-bot-container-toggle-up {
  z-index: 99999;
  position: fixed;
  width: 70px;
  bottom: 20px;
  padding: 20px;
  background-color: #a781d0;
  border-radius: 50px;
  right: 25px;
  cursor: pointer;
  border: none;
}

#chat-bot-container-toggle-down {
  cursor: pointer;
  border-radius: 50px;
  padding: 15px;
}

.chat-bot-main-container {
  z-index: 99999;
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  width: 500px;
  height: 700px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.2s ease, transform 0.2s ease;
  animation: open .2s ease;
}

@keyframes open {
  0% {
      opacity: .3;
      transform: scale(0.3);
  }

  50% {
      opacity: .7;
      transform: scale(0.7);
  }

  100% {
      opacity: 1;
      transform: scale(1);
  }
}

/* Header  */
.chat-bot-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  /* background-image: url(bg2.png); */
  overflow: hidden;
}

.chat-bot-left-header {
  display: flex;
  gap: .5rem;
  align-items: center;
  font-size: 25px;

  svg {
      padding: 5px;
      background-color: #ff0000;
      fill: white;
      border-radius: 50px;
  }
}

.chat-bot-right-header {
  display: flex;
  align-items: center;

  button {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      font-size: 30px;
  }
}

/* Message input from user container  */
.chat-bot-message-box {
  width: 94%;
  display: flex;
  margin: 0px 15px;
  padding: 5px;
  justify-content: space-between;
  border: 1px solid #717070;
  border-radius: 30px;
  overflow: hidden;

  input {
      padding: 10px;
      background-color: black;
      color: white;
      width: 100%;
      border: none;
      outline: none;
  }

  .chat-bot-attachments {
      display: flex;
      align-items: center;
      button {
        color: #717070;
          background-color: rgba(0, 0, 0, 0);
          border: none;
          border-radius: 50px;
          font-size: 30px;
          cursor: pointer;
          padding: 5px;
      }

      button:hover {
          background-color: #666666;
          color: white;
      }
  }
}


#chat-bot-send {
  color: white;
  background-color: rgb(246, 39, 39);
  border-radius: 50px;
  padding: 3px;
  margin: 3px;
  display: none;
}

#chat-bot-send:hover {
  background-color: rgb(237, 129, 129);
}

.chat-bot-attachment-confirmed {
  width: fit-content;
  font-size: small;
  background-color: white;
  color: black;
  display: none;
  margin-bottom: 10px;
  padding: 3px;
  border-radius: 10px;
  position: absolute;
  bottom: 60px;
  left: 36%;
}

#chat-bot-file-cancel-btn {
  display: none;
  color: red;
}

.chat-bot-footer-container {
  height: 10px;
  position: relative;
}

em-emoji-picker {
  position: absolute;
  left: 16%;
  bottom: 25px;
  max-width: 350px;
  max-height: 355px;
  visibility: hidden;
}

body.show-emoji-picker em-emoji-picker {
  visibility: visible;
}


/* Chat area  */
.chat-bot-chat-body {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: end;
  gap: 10px;
  padding: 0px 15px;
  position: relative;
  width: 100%;
  height: 78%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #717070 transparent;
  position: relative;
}

.chat-bot-message-text {
  padding: 10px;
  max-width: 300px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.chat-bot-bot-message {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;

  img {
      width: 150px;
      height: 150px;
  }

  svg {
      padding: 5px;
      background-color: rgb(240, 18, 18);
      width: 40px;
      height: 40px;
      fill: white;
      border-radius: 50px;
  }
}

.chat-bot-user-message {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;

  img {
      width: 150px;
      height: 150px;
  }

  .chat-bot-message-text {
      width: fit-content;
      background-color: rgb(214, 214, 214);
      color: black;
      border-radius: 10px;
      border-bottom-right-radius: 0;
  }
}

.chat-bot-thinking-indicator {
  display: flex;
  height: 30px;
  align-items: center;
}

.chat-bot-dot {
  width: 7px;
  height: 7px;
  border-radius: 10px;
  opacity: 0.8;
  margin: 2px;
  background-color: rgb(255, 255, 255);
  animation: dotPulse 1.5s ease-in-out infinite;
}

.chat-bot-dot:nth-child(1) {
  animation-delay: 0.4s;
}

.chat-bot-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.chat-bot-dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes dotPulse {

  0%,
  44% {
      transform: translateY(0);
  }

  27% {
      opacity: 0.4;
      transform: translateY(-8px);
  }

  44% {
      opacity: 0.3;
  }
}

.chat-bot-thinking {
  display: none;
}
