@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
}

/* Text */
.text-container {
    text-align: center;
    position: relative;
}

.hero-text {
    font-size: 13rem;
    font-weight: 900;
    color: rgb(0 0, 0);
    padding: 5px 10px;
    background: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 50px;
    text-transform: uppercase;
}

.first {
    transform: rotate(-15deg);
}

.second {
    transform: rotate(15deg);
    margin-top: 10px;
}

/* Decorative Elements */
.decorations img {
    position: absolute;
    width: 150px; /* Adjust sizes as needed */
    height: auto;
}


.star.blue {
    width: 270px;
    top: 65%;
    left: 5%;
}

.star.white {
    top: 20%;
    right: 10%;
}

.star{
    animation: rotateStar 4s linear infinite;
}
@keyframes rotateStar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}

.face {
    bottom: 18%;
    right: 10%;
    width: 100px;
}
